infra/n8n/worfklows/n8n-enschede-rental-scraper.json
{
  "name": "Enschede Huurwoning Scraper v2",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } },
      "id": "d100-0001",
      "name": "Dagelijks 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400]
    },
    {
      "parameters": {},
      "id": "d100-0002",
      "name": "Handmatig Testen",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 580]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  emailTo: 'house-search@jorisjonkers.dev',\n  geminiApiKey: 'KEY_HERE',\n  woninghurenBody: JSON.stringify({\n    limit: 25, page: 0, locale: 'nl_NL',\n    filters: { '$and': [\n      {'municipality.name': {'$eq': 'Enschede'}},\n      {'totalRent': {'$gte': 1000}},\n      {'totalRent': {'$lte': 1500}},\n      {'sleepingRoom.amountOfRooms': {'$gte': 3}},\n      {'dwellingType.categorie': {'$ne': 'parkeerplaats'}},\n      {'dwellingType.categorie': {'$ne': 'garage'}},\n      {'dwellingType.categorie': {'$ne': 'berging'}}\n    ]}\n  }),\n  parariusBody: JSON.stringify({cmd: 'request.get', url: 'https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers', maxTimeout: 60000}),\n  huurwoningenBody: JSON.stringify({cmd: 'request.get', url: 'https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3', maxTimeout: 60000})\n}}];"
      },
      "id": "d100-0003",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 490]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://woninghuren-aanbodapi.zig365.nl/api/v1/actueel-aanbod",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Origin", "value": "https://www.woninghuren.nl" },
            { "name": "Referer", "value": "https://www.woninghuren.nl/" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.woninghurenBody }}",
        "options": { "timeout": 30000 }
      },
      "id": "d100-0010",
      "name": "Woninghuren API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8191/v1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.parariusBody }}",
        "options": { "timeout": 90000 }
      },
      "id": "d100-0020",
      "name": "Fetch Pararius",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 460],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8191/v1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.huurwoningenBody }}",
        "options": { "timeout": 90000 }
      },
      "id": "d100-0030",
      "name": "Fetch Huurwoningen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 720],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Gemini extraction requests for FlareSolverr HTML responses\n// FlareSolverr returns: { solution: { url, status, response (HTML) } }\nconst configs = $('Config').all();\nconst geminiApiKey = configs[0]?.json?.geminiApiKey || '';\nconst results = [];\n\nconst sources = [\n  { node: 'Fetch Pararius', naam: 'Pararius', url: 'https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers' },\n  { node: 'Fetch Huurwoningen', naam: 'Huurwoningen.nl', url: 'https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3' }\n];\n\nfor (const src of sources) {\n  try {\n    const resp = $(src.node).first().json;\n    const html = resp?.solution?.response || resp?.data || '';\n\n    if (!html || html.length < 500) {\n      results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Geen HTML ontvangen van FlareSolverr' } });\n      continue;\n    }\n\n    if (!geminiApiKey || geminiApiKey.length < 10) {\n      results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Geen Gemini API key' } });\n      continue;\n    }\n\n    // Clean HTML\n    const cleaned = html\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, '')\n      .replace(/<svg[\\s\\S]*?<\\/svg>/gi, '')\n      .replace(/<!--[\\s\\S]*?-->/g, '')\n      .substring(0, 60000);\n\n    const domain = src.url.match(/https?:\\/\\/[^/]+/)?.[0] || '';\n    const prompt = `Extract ALL rental property listings from this HTML from ${src.naam}.\\nReturn ONLY a JSON array: [{\"titel\": \"address\", \"prijs\": rent_number, \"kamers\": bedrooms_or_null, \"oppervlakte\": area_m2_or_null, \"url\": \"absolute_url\", \"afbeelding\": \"img_url_or_null\"}]\\nBase domain: ${domain}\\nSkip navigation, cookies, ads. Only real property listings. Return [] if none found.\\n\\nHTML:\\n${cleaned}`;\n\n    results.push({ json: {\n      naam: src.naam, sourceUrl: src.url, isError: false,\n      geminiUrl: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${geminiApiKey}`,\n      requestBody: JSON.stringify({ contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 4000, temperature: 0.1 } })\n    }});\n  } catch (e) {\n    results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Error: ' + e.message } });\n  }\n}\n\nreturn results;"
      },
      "id": "d100-0040",
      "name": "Prepare Gemini Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 590]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.isError ? 'https://httpbin.org/status/200' : $json.geminiUrl }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.isError ? '{}' : $json.requestBody }}",
        "options": { "response": { "response": { "responseFormat": "text" } }, "timeout": 60000 }
      },
      "id": "d100-0050",
      "name": "Gemini Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 590],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine Woninghuren API results + Gemini-extracted Pararius/Huurwoningen results\nconst SKIP = ['parking','parkeerplaats','garage','berging','storage','garagebox','opslagruimte'];\nconst results = [];\n\n// --- Woninghuren.nl (direct API) ---\ntry {\n  const items = $('Woninghuren API').all();\n  for (const item of items) {\n    const d = item.json;\n    const listings = Array.isArray(d) ? d : (d.result || d.data || (d.street ? [d] : []));\n    if (!Array.isArray(listings)) continue;\n    for (const l of listings) {\n      if (!l.street) continue;\n      const type = (l.dwellingType?.localizedName || l.dwellingType?.categorie || '').toLowerCase();\n      if (SKIP.some(s => type.includes(s))) continue;\n      const rooms = l.sleepingRoom?.amountOfRooms || 0;\n      if (rooms < 3) continue;\n      const addr = [l.street, l.houseNumber, l.houseNumberAddition].filter(Boolean).join(' ');\n      const img = l.pictures?.[0]?.uri;\n      results.push({ json: {\n        bron: 'Woninghuren.nl',\n        titel: addr + (l.postalcode ? ', ' + l.postalcode : '') + ' Enschede',\n        prijs: '€ ' + (l.totalRent || 0),\n        prijsNumeriek: l.totalRent || 0,\n        kamers: rooms,\n        oppervlakte: l.areaDwelling ? l.areaDwelling + ' m²' : null,\n        url: 'https://www.woninghuren.nl/aanbod/te-huur/details/' + (l.urlKey || l.id || ''),\n        afbeelding: img ? (img.startsWith('http') ? img : 'https://www.woninghuren.nl' + img) : null,\n        scraped: new Date().toISOString()\n      }});\n    }\n  }\n} catch (e) {\n  results.push({ json: { bron: 'Woninghuren.nl', fout: 'Error: ' + e.message, url: 'https://www.woninghuren.nl/aanbod/te-huur', scraped: new Date().toISOString() } });\n}\n\n// --- Pararius + Huurwoningen (Gemini-extracted) ---\nlet geminiResponses = [];\nlet prepItems = [];\ntry { geminiResponses = $('Gemini Extract').all(); } catch (e) { /* FlareSolverr branch not executed */ }\ntry { prepItems = $('Prepare Gemini Extract').all(); } catch (e) { /* FlareSolverr branch not executed */ }\n\nfor (let i = 0; i < prepItems.length; i++) {\n  const prep = prepItems[i]?.json || {};\n  if (prep.isError) {\n    results.push({ json: { bron: prep.naam, fout: prep.fout, url: prep.sourceUrl, scraped: new Date().toISOString() } });\n    continue;\n  }\n\n  try {\n    const raw = geminiResponses[i]?.json?.data || JSON.stringify(geminiResponses[i]?.json) || '';\n    let text = raw;\n    try {\n      const parsed = JSON.parse(raw);\n      if (parsed.candidates) text = parsed.candidates[0]?.content?.parts?.[0]?.text || '[]';\n    } catch (e) {}\n    const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/```\\s*$/m, '').trim();\n    const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n    const listings = m ? JSON.parse(m[0]) : [];\n\n    if (listings.length === 0) {\n      results.push({ json: { bron: prep.naam, fout: 'Geen woningen gevonden', url: prep.sourceUrl, scraped: new Date().toISOString() } });\n      continue;\n    }\n\n    for (const l of listings) {\n      const title = (l.titel || '').toLowerCase();\n      if (SKIP.some(s => title.includes(s))) continue;\n      if (l.kamers && l.kamers < 3) continue;\n      const priceNum = parseInt(l.prijs) || 0;\n      if (priceNum > 0 && (priceNum < 800 || priceNum > 1600)) continue;\n      results.push({ json: {\n        bron: prep.naam,\n        titel: l.titel || 'Zie link',\n        prijs: priceNum ? '€ ' + priceNum : 'Onbekend',\n        prijsNumeriek: priceNum,\n        kamers: l.kamers || null,\n        oppervlakte: l.oppervlakte ? l.oppervlakte + (String(l.oppervlakte).includes('m') ? '' : ' m²') : null,\n        url: l.url || prep.sourceUrl,\n        afbeelding: l.afbeelding || null,\n        scraped: new Date().toISOString()\n      }});\n    }\n  } catch (e) {\n    results.push({ json: { bron: prep.naam, fout: 'Parse error: ' + e.message, url: prep.sourceUrl, scraped: new Date().toISOString() } });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { bron: 'Systeem', fout: 'Geen resultaten', scraped: new Date().toISOString() } }];"
      },
      "id": "d100-0060",
      "name": "Parse All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.known) staticData.known = {};\n\nconst items = $input.all();\nconst newListings = [];\nconst errors = [];\nconst seenUrls = new Set();\nconst now = new Date().toISOString();\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.fout) { errors.push(d); continue; }\n  if (!d.url || seenUrls.has(d.url)) continue;\n  seenUrls.add(d.url);\n\n  const existing = staticData.known[d.url];\n  const isNew = !existing;\n  const priceChanged = existing && existing.prijs !== d.prijsNumeriek && d.prijsNumeriek > 0;\n\n  staticData.known[d.url] = {\n    titel: d.titel, prijs: d.prijsNumeriek, bron: d.bron,\n    eersteGezien: existing ? existing.eersteGezien : now,\n    laatstGezien: now\n  };\n\n  if (isNew || priceChanged) {\n    newListings.push({ ...d, isNew, priceChanged });\n  }\n}\n\n// Cleanup > 30 days\nconst cutoff = Date.now() - 30 * 24 * 60 * 60 * 1000;\nfor (const [url, data] of Object.entries(staticData.known)) {\n  if (new Date(data.laatstGezien).getTime() < cutoff) delete staticData.known[url];\n}\n\nif (newListings.length > 0) {\n  return [{ json: { geenNieuws: false, listings: newListings, errors } }];\n}\nreturn [{ json: { geenNieuws: true, errors } }];"
      },
      "id": "d100-0070",
      "name": "Vergelijk & Bewaar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst geminiApiKey = $('Config').first().json.geminiApiKey || '';\n\nif (data.geenNieuws || !data.listings?.length) {\n  return [{ json: { ...data, geminiUrl: '', requestBody: '{}' } }];\n}\n\nif (!geminiApiKey || geminiApiKey.length < 10) {\n  return [{ json: { ...data, geminiUrl: '', requestBody: '{}' } }];\n}\n\nconst evalList = data.listings.map((l, i) =>\n  `${i+1}. ${l.titel} — ${l.prijs}/maand, ${l.kamers ? l.kamers + ' kamers' : '?'}, ${l.oppervlakte || '?'}, bron: ${l.bron}`\n).join('\\n');\n\nconst prompt = `Beoordeel deze huurwoningen in Enschede 1-10 op aantrekkelijkheid, leefbaarheid en prijs/kwaliteit.\\nReturn ALLEEN een JSON array in dezelfde volgorde: [{\"score\": N, \"uitleg\": \"max 2 zinnen NL\"}, ...]\\n\\n${evalList}`;\n\nreturn [{ json: {\n  ...data,\n  geminiUrl: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${geminiApiKey}`,\n  requestBody: JSON.stringify({ contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 2000, temperature: 0.3 } })\n}}];"
      },
      "id": "d100-0080",
      "name": "Prepare Eval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.geminiUrl || 'https://httpbin.org/status/200' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody || '{}' }}",
        "options": { "response": { "response": { "responseFormat": "text" } }, "timeout": 60000 }
      },
      "id": "d100-0090",
      "name": "Gemini Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Eval').first().json;\nconst listings = prepData.listings || [];\nconst errors = prepData.errors || [];\nconst emailTo = $('Config').first().json.emailTo;\n\nif (prepData.geenNieuws || listings.length === 0) {\n  return [{ json: { aantalNieuw: 0, geenNieuws: true } }];\n}\n\n// Parse Gemini scores\ntry {\n  const raw = $input.first().json.data || JSON.stringify($input.first().json) || '';\n  let text = raw;\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed.candidates) text = parsed.candidates[0]?.content?.parts?.[0]?.text || '[]';\n  } catch (e) {}\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/```\\s*$/m, '').trim();\n  const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (m) {\n    const scores = JSON.parse(m[0]);\n    for (let i = 0; i < Math.min(scores.length, listings.length); i++) {\n      listings[i].aiScore = scores[i].score;\n      listings[i].aiUitleg = scores[i].uitleg;\n    }\n  }\n} catch (e) { /* continue without scores */ }\n\nlistings.sort((a, b) => (b.aiScore || 0) - (a.aiScore || 0) || (a.prijsNumeriek || 9999) - (b.prijsNumeriek || 9999));\n\nconst datum = new Date().toLocaleDateString('nl-NL');\nlet h = `<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:0 auto;\">`;\nh += `<h2 style=\"color:#2c3e50;\">🏠 Nieuwe huurwoningen in Enschede!</h2>`;\nh += `<p style=\"color:#555;\">Gevonden via: ${[...new Set(listings.map(l => l.bron))].join(', ')}</p>`;\nh += `<p><strong>${listings.length} nieuwe/gewijzigde woning(en)</strong> op ${datum}</p>`;\n\nconst hasAi = listings.some(l => l.aiScore);\nfor (const l of listings) {\n  const scoreColor = l.aiScore >= 7 ? '#27ae60' : l.aiScore >= 5 ? '#f39c12' : l.aiScore ? '#e74c3c' : '#999';\n  const scoreEmoji = l.aiScore >= 8 ? '🌟' : l.aiScore >= 6 ? '👍' : l.aiScore >= 4 ? '👌' : l.aiScore ? '👎' : '';\n  const badge = l.isNew ? '<span style=\"background:#27ae60;color:white;padding:2px 8px;border-radius:3px;font-size:11px;font-weight:bold;\">NIEUW</span> ' : l.priceChanged ? '<span style=\"background:#e67e22;color:white;padding:2px 8px;border-radius:3px;font-size:11px;font-weight:bold;\">PRIJS GEWIJZIGD</span> ' : '';\n  h += `<div style=\"border:1px solid #ddd;border-radius:8px;margin:12px 0;overflow:hidden;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>`;\n  if (l.afbeelding) h += `<td style=\"width:180px;vertical-align:top;\"><img src=\"${l.afbeelding}\" style=\"width:180px;height:130px;object-fit:cover;display:block;\" alt=\"Foto\"></td>`;\n  h += `<td style=\"padding:12px;vertical-align:top;\">`;\n  h += `<div>${badge}<strong style=\"color:#2c3e50;font-size:16px;\">${l.titel}</strong></div>`;\n  h += `<p style=\"margin:4px 0;color:#555;font-size:13px;\">${l.bron} | ${l.kamers ? l.kamers + ' kamers' : '-'} | ${l.oppervlakte || '-'}</p>`;\n  h += `<p style=\"margin:4px 0;font-size:20px;font-weight:bold;color:#2c3e50;\">${l.prijs} <span style=\"font-size:12px;font-weight:normal;color:#999;\">/maand</span></p>`;\n  if (hasAi && l.aiScore) {\n    h += `<div style=\"margin:4px 0;padding:4px 8px;background:#f8f9fa;border-radius:4px;font-size:13px;display:inline-block;\"><span style=\"color:${scoreColor};font-weight:bold;\">${scoreEmoji} ${l.aiScore}/10</span>`;\n    if (l.aiUitleg) h += ` — <em>${l.aiUitleg}</em>`;\n    h += `</div>`;\n  }\n  h += `<div style=\"margin-top:8px;\"><a href=\"${l.url}\" style=\"display:inline-block;padding:6px 16px;background:#3498db;color:white;text-decoration:none;border-radius:4px;font-size:13px;\">Bekijk woning →</a></div>`;\n  h += `</td></tr></table></div>`;\n}\n\nif (errors.length > 0) {\n  h += `<h3 style=\"color:#e67e22;\">⚠️ Waarschuwingen</h3><ul style=\"color:#555;font-size:13px;\">`;\n  for (const e of errors) {\n    h += `<li><strong>${e.bron}:</strong> ${e.fout}`;\n    if (e.url) h += ` — <a href=\"${e.url}\">Handmatig zoeken</a>`;\n    h += `</li>`;\n  }\n  h += `</ul>`;\n}\n\nh += `<h3 style=\"color:#2c3e50;\">🔗 Directe zoeklinks</h3><ul style=\"font-size:13px;\">`;\nh += `<li><a href=\"https://www.woninghuren.nl/aanbod/te-huur#?locatie=Enschede&huurprijs=1000&huurprijs=1500&aantal-slaapkamers=3\">Woninghuren.nl</a></li>`;\nh += `<li><a href=\"https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers\">Pararius.nl</a></li>`;\nh += `<li><a href=\"https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3\">Huurwoningen.nl</a></li>`;\nh += `<li><a href=\"https://www.funda.nl/zoeken/huur?selected_area=[%22enschede%22]&price=%221000-1500%22&bedrooms=%223-%22\">Funda.nl (handmatig)</a></li>`;\nh += `</ul>`;\nh += `<p style=\"color:#999;font-size:11px;\">Gegenereerd op ${new Date().toLocaleString('nl-NL')} door n8n Huurwoning Scraper v2</p></div>`;\n\nreturn [{ json: { aantalNieuw: listings.length, emailOnderwerp: `🏠 ${listings.length} nieuwe huurwoning(en) in Enschede — ${datum}`, emailHtml: h, emailTo } }];"
      },
      "id": "d100-0100",
      "name": "Bouw Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-news",
              "leftValue": "={{ $json.aantalNieuw }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d100-0110",
      "name": "Heeft Nieuws?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "fromEmail": "n8n@jorisjonkers.dev",
        "toEmail": "={{ $json.emailTo }}",
        "subject": "={{ $json.emailOnderwerp }}",
        "emailType": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "d100-0120",
      "name": "Stuur Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2920, 400],
      "credentials": { "smtp": { "id": "CONFIGURE_YOUR_SMTP_CREDENTIALS", "name": "SMTP Account" } }
    },
    {
      "parameters": {
        "content": "## 🏠 Huurwoning Scraper v2\n\n**Bronnen:**\n- Woninghuren.nl → Direct API (gratis, betrouwbaar)\n- Pararius → FlareSolverr + Gemini (gratis, self-hosted)\n- Huurwoningen.nl → FlareSolverr + Gemini (gratis)\n- Funda → Handmatige link (te zwaar beveiligd)\n\n**100% gratis stack:**\n- FlareSolverr: self-hosted (Nomad job)\n- Gemini: gratis API tier\n- Woninghuren: publieke API\n\n**Filters:** 3+ slaapkamers, €1000-1500, Enschede\nParkeerplaatsen/garages/bergingen uitgesloten\n\n**Schema:** Dagelijks om 08:00\nAlleen email bij NIEUWE woningen",
        "height": 420,
        "width": 380
      },
      "id": "d100-0200",
      "name": "Instructies",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-380, 200]
    }
  ],
  "connections": {
    "Dagelijks 08:00": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Handmatig Testen": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": {
      "main": [
        [
          { "node": "Woninghuren API", "type": "main", "index": 0 },
          { "node": "Fetch Pararius", "type": "main", "index": 0 },
          { "node": "Fetch Huurwoningen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Pararius": { "main": [[{ "node": "Prepare Gemini Extract", "type": "main", "index": 0 }]] },
    "Fetch Huurwoningen": { "main": [[{ "node": "Prepare Gemini Extract", "type": "main", "index": 0 }]] },
    "Prepare Gemini Extract": { "main": [[{ "node": "Gemini Extract", "type": "main", "index": 0 }]] },
    "Gemini Extract": { "main": [[{ "node": "Parse All", "type": "main", "index": 0 }]] },
    "Woninghuren API": { "main": [[{ "node": "Parse All", "type": "main", "index": 0 }]] },
    "Parse All": { "main": [[{ "node": "Vergelijk & Bewaar", "type": "main", "index": 0 }]] },
    "Vergelijk & Bewaar": { "main": [[{ "node": "Prepare Eval", "type": "main", "index": 0 }]] },
    "Prepare Eval": { "main": [[{ "node": "Gemini Evaluate", "type": "main", "index": 0 }]] },
    "Gemini Evaluate": { "main": [[{ "node": "Bouw Email", "type": "main", "index": 0 }]] },
    "Bouw Email": { "main": [[{ "node": "Heeft Nieuws?", "type": "main", "index": 0 }]] },
    "Heeft Nieuws?": { "main": [[{ "node": "Stuur Email", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
