infra/n8n/worfklows/n8n-enschede-rental-scraper.json
{
  "name": "Enschede Huurwoning Scraper v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "e48d45b2-8d0c-4854-a943-01d766db0e0b",
      "name": "Dagelijks 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [20960, 3504]
    },
    {
      "parameters": {},
      "id": "fd3c7a88-fc62-4d8d-87ae-98496764d5be",
      "name": "Handmatig Testen",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20960, 3680]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  emailTo: 'house-search@jorisjonkers.dev',\n  geminiApiKey: 'KEYHERE',\n  woninghurenBody: JSON.stringify({\n    limit: 25, page: 0, locale: 'nl_NL',\n    filters: { '$and': [\n      {'municipality.name': {'$eq': 'Enschede'}},\n      {'totalRent': {'$gte': 1000}},\n      {'totalRent': {'$lte': 1500}},\n      {'sleepingRoom.amountOfRooms': {'$gte': 3}},\n      {'dwellingType.categorie': {'$ne': 'parkeerplaats'}},\n      {'dwellingType.categorie': {'$ne': 'garage'}},\n      {'dwellingType.categorie': {'$ne': 'berging'}}\n    ]}\n  }),\n  parariusBody: JSON.stringify({cmd: 'request.get', url: 'https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers', maxTimeout: 120000}),\n  huurwoningenBody: JSON.stringify({cmd: 'request.get', url: 'https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3', maxTimeout: 120000})\n}}];"
      },
      "id": "3fc53cc3-8b95-4c07-9cd4-b298754941af",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [21216, 3584]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://woninghuren-aanbodapi.zig365.nl/api/v1/actueel-aanbod",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Origin", "value": "https://www.woninghuren.nl" },
            { "name": "Referer", "value": "https://www.woninghuren.nl/" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.woninghurenBody }}",
        "options": { "timeout": 30000 }
      },
      "id": "87da2020-730c-4d37-8ae7-066f5c3d802e",
      "name": "Woninghuren API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [21504, 3392],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8191/v1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.parariusBody }}",
        "options": { "timeout": 180000 }
      },
      "id": "874f266c-cb1b-4f69-a391-b4eb06dba9c3",
      "name": "Fetch Pararius",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [21504, 3584],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8191/v1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Config').first().json.huurwoningenBody }}",
        "options": { "timeout": 180000 }
      },
      "id": "2663fbe2-8b5b-43f5-a0c6-685637db0573",
      "name": "Fetch Huurwoningen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [21504, 3792],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract listings from FlareSolverr HTML responses\n// Strategy: 1) Try JSON-LD structured data (Pararius has this), 2) Fall back to Gemini\nconst configs = $('Config').all();\nconst geminiApiKey = configs[0]?.json?.geminiApiKey || '';\nconst results = [];\n\nconst sources = [\n  { node: 'Fetch Pararius', naam: 'Pararius', url: 'https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers' },\n  { node: 'Fetch Huurwoningen', naam: 'Huurwoningen.nl', url: 'https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3' }\n];\n\nfor (const src of sources) {\n  try {\n    const resp = $(src.node).first().json;\n    const html = resp?.solution?.response || resp?.data || '';\n\n    if (!html || html.length < 500) {\n      results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Geen HTML ontvangen van FlareSolverr' } });\n      continue;\n    }\n\n    const domain = src.url.match(/https?:\\/\\/[^/]+/)?.[0] || '';\n    let directListings = [];\n\n    // --- Strategy 1: Parse JSON-LD structured data (Pararius embeds this) ---\n    const jsonLdMatches = html.match(/<script[^>]*type=\"application\\/ld\\+json\"[^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonLdMatches) {\n      for (const m of jsonLdMatches) {\n        try {\n          const jsonStr = m.replace(/<script[^>]*>/i, '').replace(/<\\/script>/i, '');\n          const ld = JSON.parse(jsonStr);\n          // Find ItemList with ListItems (Pararius format)\n          const graph = ld['@graph'] || [ld];\n          for (const node of graph) {\n            const itemList = node.mainEntity?.itemListElement || node.itemListElement;\n            if (!itemList) continue;\n            for (const entry of itemList) {\n              const item = entry.item || entry;\n              const name = item.name || '';\n              const url = item.url || item['@id'] || '';\n              const price = item.offers?.price || 0;\n              const img = item.image || null;\n              if (name && url) {\n                directListings.push({\n                  titel: name,\n                  prijs: parseInt(price) || 0,\n                  kamers: null,\n                  oppervlakte: null,\n                  url: url.startsWith('http') ? url : domain + url,\n                  afbeelding: img\n                });\n              }\n            }\n          }\n        } catch (e) { /* JSON-LD parse failed, continue */ }\n      }\n    }\n\n    // --- Strategy 2: Parse listing cards from HTML directly ---\n    if (directListings.length === 0) {\n      // Look for listing-search-item sections (Pararius/Huurwoningen pattern)\n      const listingBlocks = html.split(/(?=<section[^>]*listing-search-item[^>]*>)/i);\n      for (const block of listingBlocks) {\n        if (block.length < 200 || block.length > 50000) continue;\n        const titleMatch = block.match(/listing-search-item__link--title[^>]*href=\"([^\"]+)\"[^>]*>[\\s\\S]*?([^<]+)<\\/a>/i)\n          || block.match(/listing-search-item__title[^>]*>[\\s\\S]*?<a[^>]*href=\"([^\"]+)\"[^>]*>([^<]+)/i);\n        const priceMatch = block.match(/listing-search-item__price[^>]*>[\\s\\S]*?(?:€|&euro;)\\s*(?:&nbsp;)?([\\d.,]+)/i)\n          || block.match(/price-main[^>]*>[\\s\\S]*?(?:€|&euro;)\\s*(?:&nbsp;)?([\\d.,]+)/i);\n        const areaMatch = block.match(/(\\d+)\\s*m[²2]/i);\n        const roomsMatch = block.match(/(\\d+)\\s*(?:kamer|room)/i);\n        const imgMatch = block.match(/picture__image[^>]*src=\"([^\"]+)\"/i)\n          || block.match(/<img[^>]*src=\"(https:\\/\\/casco-media[^\"]+)\"/i);\n        if (titleMatch) {\n          const url = titleMatch[1];\n          const title = titleMatch[2].trim();\n          const price = priceMatch ? parseInt(priceMatch[1].replace(/\\./g, '').replace(',', '.')) : 0;\n          directListings.push({\n            titel: title,\n            prijs: price,\n            kamers: roomsMatch ? parseInt(roomsMatch[1]) : null,\n            oppervlakte: areaMatch ? parseInt(areaMatch[1]) : null,\n            url: url.startsWith('http') ? url : domain + url,\n            afbeelding: imgMatch ? imgMatch[1] : null\n          });\n        }\n      }\n    }\n\n    // If we got listings directly, skip Gemini entirely\n    if (directListings.length > 0) {\n      results.push({ json: {\n        naam: src.naam, sourceUrl: src.url, isError: false,\n        directListings: directListings,\n        needsGemini: false,\n        geminiUrl: '', requestBody: '{}'\n      }});\n      continue;\n    }\n\n    // --- Strategy 3: Fall back to Gemini ---\n    if (!geminiApiKey || geminiApiKey.length < 10) {\n      results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Geen listings gevonden en geen Gemini key' } });\n      continue;\n    }\n\n    let cleaned = html\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, '')\n      .replace(/<svg[\\s\\S]*?<\\/svg>/gi, '')\n      .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n      .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n      .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<!--[\\s\\S]*?-->/g, '');\n    const mainMatch = cleaned.match(/<main[\\s\\S]*<\\/main>/i);\n    if (mainMatch && mainMatch[0].length > 500) cleaned = mainMatch[0];\n    cleaned = cleaned.substring(0, 200000);\n\n    const prompt = `Extract ALL rental property listings from this HTML from ${src.naam}.\\nReturn ONLY a JSON array: [{\"titel\": \"address\", \"prijs\": rent_number, \"kamers\": bedrooms_or_null, \"oppervlakte\": area_m2_or_null, \"url\": \"absolute_url\", \"afbeelding\": \"img_url_or_null\"}]\\nBase domain: ${domain}\\nSkip navigation, cookies, ads. Only real property listings. Return [] if none found.\\n\\nHTML:\\n${cleaned}`;\n\n    results.push({ json: {\n      naam: src.naam, sourceUrl: src.url, isError: false,\n      needsGemini: true,\n      geminiUrl: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${geminiApiKey}`,\n      requestBody: JSON.stringify({ contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 4000, temperature: 0.1 } })\n    }});\n  } catch (e) {\n    results.push({ json: { naam: src.naam, sourceUrl: src.url, isError: true, fout: 'Error: ' + e.message } });\n  }\n}\n\nreturn results;"
      },
      "id": "159cab78-c591-45da-a87b-fea68474aa7d",
      "name": "Prepare Gemini Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [21984, 3600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.isError ? 'https://httpbin.org/status/200' : $json.geminiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.isError ? '{}' : $json.requestBody }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 15000 } },
          "retry": { "enabled": true, "maxRetries": 2, "retryInterval": 10000 },
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 60000
        }
      },
      "id": "d04a7ba6-e66b-4164-8166-7a37acfc147e",
      "name": "Gemini Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [22176, 3600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine Woninghuren API results + Gemini-extracted Pararius/Huurwoningen results\nconst SKIP = ['parking','parkeerplaats','garage','berging','storage','garagebox','opslagruimte'];\nconst results = [];\n\n// --- Woninghuren.nl (direct API) ---\ntry {\n  const items = $('Woninghuren API').all();\n  for (const item of items) {\n    const d = item.json;\n    const listings = Array.isArray(d) ? d : (d.result || d.data || (d.street ? [d] : []));\n    if (!Array.isArray(listings)) continue;\n    for (const l of listings) {\n      if (!l.street) continue;\n      const type = (l.dwellingType?.localizedName || l.dwellingType?.categorie || '').toLowerCase();\n      if (SKIP.some(s => type.includes(s))) continue;\n      const rooms = l.sleepingRoom?.amountOfRooms || 0;\n      if (rooms < 3) continue;\n      const addr = [l.street, l.houseNumber, l.houseNumberAddition].filter(Boolean).join(' ');\n      const img = l.pictures?.[0]?.uri;\n      results.push({ json: {\n        bron: 'Woninghuren.nl',\n        titel: addr + (l.postalcode ? ', ' + l.postalcode : '') + ' Enschede',\n        prijs: '€ ' + (l.totalRent || 0),\n        prijsNumeriek: l.totalRent || 0,\n        kamers: rooms,\n        oppervlakte: l.areaDwelling ? l.areaDwelling + ' m²' : null,\n        url: 'https://www.woninghuren.nl/aanbod/te-huur/details/' + (l.urlKey || l.id || ''),\n        afbeelding: img ? (img.startsWith('http') ? img : 'https://www.woninghuren.nl' + img) : null,\n        scraped: new Date().toISOString()\n      }});\n    }\n  }\n} catch (e) {\n  results.push({ json: { bron: 'Woninghuren.nl', fout: 'Error: ' + e.message, url: 'https://www.woninghuren.nl/aanbod/te-huur', scraped: new Date().toISOString() } });\n}\n\n// --- Pararius + Huurwoningen ---\nlet geminiResponses = [];\nlet prepItems = [];\ntry { geminiResponses = $('Gemini Extract').all(); } catch (e) { /* branch not executed */ }\ntry { prepItems = $('Prepare Gemini Extract').all(); } catch (e) { /* branch not executed */ }\n\nfor (let i = 0; i < prepItems.length; i++) {\n  const prep = prepItems[i]?.json || {};\n  if (prep.isError) {\n    results.push({ json: { bron: prep.naam, fout: prep.fout, url: prep.sourceUrl, scraped: new Date().toISOString() } });\n    continue;\n  }\n\n  let listings = [];\n\n  // Check if we have direct listings (parsed from HTML/JSON-LD without Gemini)\n  if (prep.directListings && prep.directListings.length > 0) {\n    listings = prep.directListings;\n  } else if (prep.needsGemini) {\n    // Parse Gemini response\n    try {\n      const raw = geminiResponses[i]?.json?.data || JSON.stringify(geminiResponses[i]?.json) || '';\n      let text = raw;\n      try {\n        const parsed = JSON.parse(raw);\n        if (parsed.candidates) text = parsed.candidates[0]?.content?.parts?.[0]?.text || '[]';\n      } catch (e) {}\n      const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/```\\s*$/m, '').trim();\n      const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n      listings = m ? JSON.parse(m[0]) : [];\n    } catch (e) {\n      results.push({ json: { bron: prep.naam, fout: 'Gemini parse error: ' + e.message, url: prep.sourceUrl, scraped: new Date().toISOString() } });\n      continue;\n    }\n  }\n\n  if (listings.length === 0) {\n    results.push({ json: { bron: prep.naam, fout: 'Geen woningen gevonden', url: prep.sourceUrl, scraped: new Date().toISOString() } });\n    continue;\n  }\n\n  for (const l of listings) {\n    const title = (l.titel || '').toLowerCase();\n    if (SKIP.some(s => title.includes(s))) continue;\n    if (l.kamers && l.kamers < 3) continue;\n    const priceNum = parseInt(l.prijs) || 0;\n    if (priceNum > 0 && (priceNum < 800 || priceNum > 1600)) continue;\n    results.push({ json: {\n      bron: prep.naam,\n      titel: l.titel || 'Zie link',\n      prijs: priceNum ? '€ ' + priceNum : 'Onbekend',\n      prijsNumeriek: priceNum,\n      kamers: l.kamers || null,\n      oppervlakte: l.oppervlakte ? l.oppervlakte + (String(l.oppervlakte).includes('m') ? '' : ' m²') : null,\n      url: l.url || prep.sourceUrl,\n      afbeelding: l.afbeelding || null,\n      scraped: new Date().toISOString()\n    }});\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { bron: 'Systeem', fout: 'Geen resultaten', scraped: new Date().toISOString() } }];"
      },
      "id": "e5e33787-e517-45cb-adb0-be6596ceff29",
      "name": "Parse All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [22544, 3504]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.known) staticData.known = {};\n\nconst items = $input.all();\nconst newListings = [];\nconst errors = [];\nconst seenUrls = new Set();\nconst now = new Date().toISOString();\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.fout) { errors.push(d); continue; }\n  if (!d.url || seenUrls.has(d.url)) continue;\n  seenUrls.add(d.url);\n\n  const existing = staticData.known[d.url];\n  const isNew = !existing;\n  const priceChanged = existing && existing.prijs !== d.prijsNumeriek && d.prijsNumeriek > 0;\n\n  staticData.known[d.url] = {\n    titel: d.titel, prijs: d.prijsNumeriek, bron: d.bron,\n    eersteGezien: existing ? existing.eersteGezien : now,\n    laatstGezien: now\n  };\n\n  if (isNew || priceChanged) {\n    newListings.push({ ...d, isNew, priceChanged });\n  }\n}\n\n// Cleanup > 30 days\nconst cutoff = Date.now() - 30 * 24 * 60 * 60 * 1000;\nfor (const [url, data] of Object.entries(staticData.known)) {\n  if (new Date(data.laatstGezien).getTime() < cutoff) delete staticData.known[url];\n}\n\nif (newListings.length > 0) {\n  return [{ json: { geenNieuws: false, listings: newListings, errors } }];\n}\nreturn [{ json: { geenNieuws: true, errors } }];"
      },
      "id": "8c4a9f7d-0f6a-4b92-bf14-a195af3225f4",
      "name": "Vergelijk & Bewaar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [22720, 3504]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst geminiApiKey = $('Config').first().json.geminiApiKey || '';\n\nif (data.geenNieuws || !data.listings?.length) {\n  return [{ json: { ...data, geminiUrl: '', requestBody: '{}' } }];\n}\n\nif (!geminiApiKey || geminiApiKey.length < 10) {\n  return [{ json: { ...data, geminiUrl: '', requestBody: '{}' } }];\n}\n\nconst evalList = data.listings.map((l, i) =>\n  `${i+1}. ${l.titel} — ${l.prijs}/maand, ${l.kamers ? l.kamers + ' kamers' : '?'}, ${l.oppervlakte || '?'}, bron: ${l.bron}`\n).join('\\n');\n\nconst prompt = `Beoordeel deze huurwoningen in Enschede 1-10 op aantrekkelijkheid, leefbaarheid en prijs/kwaliteit.\\nReturn ALLEEN een JSON array in dezelfde volgorde: [{\"score\": N, \"uitleg\": \"max 2 zinnen NL\"}, ...]\\n\\n${evalList}`;\n\nreturn [{ json: {\n  ...data,\n  geminiUrl: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${geminiApiKey}`,\n  requestBody: JSON.stringify({ contents: [{ parts: [{ text: prompt }] }], generationConfig: { maxOutputTokens: 2000, temperature: 0.3 } })\n}}];"
      },
      "id": "88c920f2-d78c-435b-890f-cfabe63c7261",
      "name": "Prepare Eval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [22880, 3504]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.geminiUrl || 'https://httpbin.org/status/200' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody || '{}' }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 10000 } },
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 60000
        }
      },
      "id": "490b9b79-fca1-49b0-8f45-8ac46fad6dcf",
      "name": "Gemini Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [23104, 3504],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Eval').first().json;\nconst listings = prepData.listings || [];\nconst errors = prepData.errors || [];\nconst emailTo = $('Config').first().json.emailTo;\n\nif (prepData.geenNieuws || listings.length === 0) {\n  return [{ json: { aantalNieuw: 0, geenNieuws: true } }];\n}\n\n// Parse Gemini scores\ntry {\n  const raw = $input.first().json.data || JSON.stringify($input.first().json) || '';\n  let text = raw;\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed.candidates) text = parsed.candidates[0]?.content?.parts?.[0]?.text || '[]';\n  } catch (e) {}\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/```\\s*$/m, '').trim();\n  const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (m) {\n    const scores = JSON.parse(m[0]);\n    for (let i = 0; i < Math.min(scores.length, listings.length); i++) {\n      listings[i].aiScore = scores[i].score;\n      listings[i].aiUitleg = scores[i].uitleg;\n    }\n  }\n} catch (e) { /* continue without scores */ }\n\nlistings.sort((a, b) => (b.aiScore || 0) - (a.aiScore || 0) || (a.prijsNumeriek || 9999) - (b.prijsNumeriek || 9999));\n\nconst datum = new Date().toLocaleDateString('nl-NL');\nlet h = `<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:0 auto;\">`;\nh += `<h2 style=\"color:#2c3e50;\">🏠 Nieuwe huurwoningen in Enschede!</h2>`;\nh += `<p style=\"color:#555;\">Gevonden via: ${[...new Set(listings.map(l => l.bron))].join(', ')}</p>`;\nh += `<p><strong>${listings.length} nieuwe/gewijzigde woning(en)</strong> op ${datum}</p>`;\n\nconst hasAi = listings.some(l => l.aiScore);\nfor (const l of listings) {\n  const scoreColor = l.aiScore >= 7 ? '#27ae60' : l.aiScore >= 5 ? '#f39c12' : l.aiScore ? '#e74c3c' : '#999';\n  const scoreEmoji = l.aiScore >= 8 ? '🌟' : l.aiScore >= 6 ? '👍' : l.aiScore >= 4 ? '👌' : l.aiScore ? '👎' : '';\n  const badge = l.isNew ? '<span style=\"background:#27ae60;color:white;padding:2px 8px;border-radius:3px;font-size:11px;font-weight:bold;\">NIEUW</span> ' : l.priceChanged ? '<span style=\"background:#e67e22;color:white;padding:2px 8px;border-radius:3px;font-size:11px;font-weight:bold;\">PRIJS GEWIJZIGD</span> ' : '';\n  h += `<div style=\"border:1px solid #ddd;border-radius:8px;margin:12px 0;overflow:hidden;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>`;\n  if (l.afbeelding) h += `<td style=\"width:180px;vertical-align:top;\"><img src=\"${l.afbeelding}\" style=\"width:180px;height:130px;object-fit:cover;display:block;\" alt=\"Foto\"></td>`;\n  h += `<td style=\"padding:12px;vertical-align:top;\">`;\n  h += `<div>${badge}<strong style=\"color:#2c3e50;font-size:16px;\">${l.titel}</strong></div>`;\n  h += `<p style=\"margin:4px 0;color:#555;font-size:13px;\">${l.bron} | ${l.kamers ? l.kamers + ' kamers' : '-'} | ${l.oppervlakte || '-'}</p>`;\n  h += `<p style=\"margin:4px 0;font-size:20px;font-weight:bold;color:#2c3e50;\">${l.prijs} <span style=\"font-size:12px;font-weight:normal;color:#999;\">/maand</span></p>`;\n  if (hasAi && l.aiScore) {\n    h += `<div style=\"margin:4px 0;padding:4px 8px;background:#f8f9fa;border-radius:4px;font-size:13px;display:inline-block;\"><span style=\"color:${scoreColor};font-weight:bold;\">${scoreEmoji} ${l.aiScore}/10</span>`;\n    if (l.aiUitleg) h += ` — <em>${l.aiUitleg}</em>`;\n    h += `</div>`;\n  }\n  h += `<div style=\"margin-top:8px;\"><a href=\"${l.url}\" style=\"display:inline-block;padding:6px 16px;background:#3498db;color:white;text-decoration:none;border-radius:4px;font-size:13px;\">Bekijk woning →</a></div>`;\n  h += `</td></tr></table></div>`;\n}\n\nif (errors.length > 0) {\n  h += `<h3 style=\"color:#e67e22;\">⚠️ Waarschuwingen</h3><ul style=\"color:#555;font-size:13px;\">`;\n  for (const e of errors) {\n    h += `<li><strong>${e.bron}:</strong> ${e.fout}`;\n    if (e.url) h += ` — <a href=\"${e.url}\">Handmatig zoeken</a>`;\n    h += `</li>`;\n  }\n  h += `</ul>`;\n}\n\nh += `<h3 style=\"color:#2c3e50;\">🔗 Directe zoeklinks</h3><ul style=\"font-size:13px;\">`;\nh += `<li><a href=\"https://www.woninghuren.nl/aanbod/te-huur#?locatie=Enschede&huurprijs=1000&huurprijs=1500&aantal-slaapkamers=3\">Woninghuren.nl</a></li>`;\nh += `<li><a href=\"https://www.pararius.nl/huurwoningen/enschede/1000-1500/3-slaapkamers\">Pararius.nl</a></li>`;\nh += `<li><a href=\"https://www.huurwoningen.nl/in/enschede/?price=1000-1500&bedrooms=3\">Huurwoningen.nl</a></li>`;\nh += `<li><a href=\"https://www.funda.nl/zoeken/huur?selected_area=[%22enschede%22]&price=%221000-1500%22&bedrooms=%223-%22\">Funda.nl (handmatig)</a></li>`;\nh += `</ul>`;\nh += `<p style=\"color:#999;font-size:11px;\">Gegenereerd op ${new Date().toLocaleString('nl-NL')} door n8n Huurwoning Scraper v2</p></div>`;\n\nreturn [{ json: { aantalNieuw: listings.length, emailOnderwerp: `🏠 ${listings.length} nieuwe huurwoning(en) in Enschede — ${datum}`, emailHtml: h, emailTo } }];"
      },
      "id": "58c2ccff-018a-44a0-8481-f086cf2f1688",
      "name": "Bouw Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [23360, 3504]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "has-news",
              "leftValue": "={{ $json.aantalNieuw }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56fa6121-12a2-4a8f-baaf-68e6671e3953",
      "name": "Heeft Nieuws?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [23616, 3504]
    },
    {
      "parameters": {
        "fromEmail": "n8n@jorisjonkers.dev",
        "toEmail": "={{ $json.emailTo }}",
        "subject": "={{ $json.emailOnderwerp }}",
        "html": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "c0f9e04a-4bc7-4645-acf4-06c274687ff9",
      "name": "Stuur Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [23888, 3504],
      "webhookId": "6ce0e81b-9260-4a5b-916a-9c755088f80e"
    },
    {
      "parameters": {},
      "id": "5157663a-30e1-436e-813e-92f5df9ccadb",
      "name": "Wacht op FlareSolverr",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [21792, 3600]
    },
    {
      "parameters": {},
      "id": "73595d4a-9bc1-4e75-b887-5a552ef90bc3",
      "name": "Wacht op Alle Bronnen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [22352, 3504]
    },
    {
      "parameters": {
        "content": "## 🏠 Huurwoning Scraper v2\n\n**Bronnen:**\n- Woninghuren.nl → Direct API (gratis, betrouwbaar)\n- Pararius → FlareSolverr + Gemini (gratis, self-hosted)\n- Huurwoningen.nl → FlareSolverr + Gemini (gratis)\n- Funda → Handmatige link (te zwaar beveiligd)\n\n**100% gratis stack:**\n- FlareSolverr: self-hosted (Nomad job)\n- Gemini: gratis API tier\n- Woninghuren: publieke API\n\n**Filters:** 3+ slaapkamers, €1000-1500, Enschede\nParkeerplaatsen/garages/bergingen uitgesloten\n\n**Schema:** Dagelijks om 08:00\nAlleen email bij NIEUWE woningen",
        "height": 420,
        "width": 380
      },
      "id": "66974d73-7e99-4d9f-bd96-ec115ea9f22a",
      "name": "Instructies",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20752, 3040]
    }
  ],
  "pinData": {},
  "connections": {
    "Dagelijks 08:00": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Handmatig Testen": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": {
      "main": [
        [
          { "node": "Woninghuren API", "type": "main", "index": 0 },
          { "node": "Fetch Pararius", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Pararius": {
      "main": [
        [
          { "node": "Wacht op FlareSolverr", "type": "main", "index": 0 },
          { "node": "Fetch Huurwoningen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Huurwoningen": { "main": [[{ "node": "Wacht op FlareSolverr", "type": "main", "index": 1 }]] },
    "Wacht op FlareSolverr": { "main": [[{ "node": "Prepare Gemini Extract", "type": "main", "index": 0 }]] },
    "Prepare Gemini Extract": { "main": [[{ "node": "Gemini Extract", "type": "main", "index": 0 }]] },
    "Gemini Extract": { "main": [[{ "node": "Wacht op Alle Bronnen", "type": "main", "index": 1 }]] },
    "Woninghuren API": { "main": [[{ "node": "Wacht op Alle Bronnen", "type": "main", "index": 0 }]] },
    "Wacht op Alle Bronnen": { "main": [[{ "node": "Parse All", "type": "main", "index": 0 }]] },
    "Parse All": { "main": [[{ "node": "Vergelijk & Bewaar", "type": "main", "index": 0 }]] },
    "Vergelijk & Bewaar": { "main": [[{ "node": "Prepare Eval", "type": "main", "index": 0 }]] },
    "Prepare Eval": { "main": [[{ "node": "Gemini Evaluate", "type": "main", "index": 0 }]] },
    "Gemini Evaluate": { "main": [[{ "node": "Bouw Email", "type": "main", "index": 0 }]] },
    "Bouw Email": { "main": [[{ "node": "Heeft Nieuws?", "type": "main", "index": 0 }]] },
    "Heeft Nieuws?": { "main": [[{ "node": "Stuur Email", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "d000bd4d-8478-4ae9-985d-a1047ce319f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "209b59e1e0bd5c29742e10747d2c6eec39deeda36902a567e15f9ab9b30d8dae"
  },
  "id": "d67I3oqFNAiBYzXJ",
  "tags": []
}
